<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- Needed for 10p6 runtime packs for RID-specific stuff -->
    <add key="dotnet10p6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/10.0.100-preview.6.25358.103-shipping/nuget/v3/index.json" />
  </packageSources>
</configuration>
